<!DOCTYPE html>
<html>
<head>
  <title>FreeeLineApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if current_user %>
  <nav class="navbar navbar-defalt navbar-fixed-top">
    <div class="container">
      <ul class="list-inline" id="navlist">
        <li><%= link_to "Log out", session_path(current_user), method: :DELETE %> </li>
        <li><%= link_to "Friends",friends_path %></li>
        <li><%= link_to "Messages",conversations_path %></li>
      </ul>
    </div>

  </nav>
  <% end %>
  <div class="container">
  <%=render 'shared/flash_message' %>
    
    <%= yield %>
  </div>


</body>
</html>
